@model MedAppProject.Models.Lab
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>@ViewData["Title"] - MedAppProject</title>
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="~/assets/css/feather.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="~/assets/css/custom.css">

</head>
<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		@Html.Partial("/Views/Lab/NavBar.cshtml")
		<!-- /Header -->
		<!-- Breadcrumb -->
		<div class="breadcrumb-bar-two">
			<div class="container">
				<div class="row align-items-center inner-banner">
					<div class="col-md-12 col-12 text-center">
						<h2 class="breadcrumb-title">Dashboard</h2>
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a asp-action="Index" asp-controller="Lab">Home</a></li>
								<li class="breadcrumb-item" aria-current="page">Dashboard</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->
		<!-- Page Content -->
		<div class="content">
			<div class="container">

				<div class="row">
					<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

						<!-- Profile Sidebar -->
						@Html.Partial("/Views/Lab/LabSideBar.cshtml")
						<!-- /Profile Sidebar -->

					</div>

					<div class="col-md-7 col-lg-8 col-xl-9">

						<div class="row">
							<div class="col-md-12">
							</div>

							<div class="row">
								<div class="col-md-12">
									<h4 class="mb-4">Patient Appoinment</h4>
									<div class="appointment-tab">

										<!-- Appointment Tab -->
										<ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
											<li class="nav-item">
												<a class="nav-link active" href="#upcoming-appointments" data-bs-toggle="tab">Upcoming</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#todayAppointments" data-bs-toggle="tab">Today</a>
											</li>
										</ul>
										<!-- /Appointment Tab -->

										<div class="tab-content">

											<!-- Upcoming Appointment Tab -->
											<div class="tab-pane show active" id="upcoming-appointments">
												<div class="card card-table mb-0">
													<div class="card-body">
														<div class="table-responsive">
															<table class="table table-hover table-center mb-0">
																<thead>
																	<tr>
																		<th>Patient Name</th>
																		<th>Appt Date</th>


																		<th class="text-center">Paid Amount</th>
																		<th></th>
																	</tr>
																</thead>
																<tbody>
																	@foreach(var x in @Model.LabAppointments)
																	{																
																		<tr>

																			<td>
																				<h2 class="table-avatar">
																					<a  class="avatar avatar-sm me-2" asp-action="PatientProfile" asp-controller="Lab" asp-route-paId="@x.patient.Id">
																						<img class="avatar-img rounded-circle" src="~/Images/patient.png" alt="User Image">@x.patient.FirstName @x.patient.LastName</a>

																				</h2>
																			</td>
																			
																		<td>@x.bookTime.ToString("d MMMM yyyy")<span class="d-block text-info">@x.bookTime.ToString("hh:mm")</span></td>
																			

																			<td class="text-center">$$$$</td>
																			<td class="text-end">
																				<div class="table-action">
																					<a href="javascript:void(0);" class="btn btn-sm bg-info-light">
																						<i class="far fa-eye"></i> View
																					</a>

																					<a href="javascript:void(0);" class="btn btn-sm bg-success-light">
																						<i class="fas fa-check"></i> Accept
																					</a>
																					<a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
																						<i class="fas fa-times"></i> Cancel
																					</a>
																				</div>
																			</td>
																		</tr>
																	
																	}
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
											<!-- /Upcoming Appointment Tab -->
											<!-- Today Appointment Tab -->
											<div class="tab-pane" id="todayAppointments">
												<div class="card card-table mb-0">
													<div class="card-body">
														<div class="table-responsive">
															<table class="table table-hover table-center mb-0">
																<thead>
																	<tr>
																		<th>Patient Name</th>
																		<th>Appt Date</th>


																		<th class="text-center">Paid Amount</th>
																		<th></th>
																	</tr>
																</thead>
																<tbody>
																	@foreach(var x in @Model.LabAppointments.Where(x=>x.bookTime.Date==DateTime.Today))
																	{

																	
																		<tr>

																			<td>
																				<h2 class="table-avatar">
																					<a  class="avatar avatar-sm me-2" asp-action="PatientProfile" asp-controller="Lab" asp-route-paId="@x.patient.Id">
																						<img class="avatar-img rounded-circle" src="~/Images/patient.png" alt="User Image">@x.patient.FirstName @x.patient.LastName</a>

																				</h2>
																			</td>
																		<td>@x.bookTime.ToString("d MMMM yyyy")<span class="d-block text-info">@x.bookTime.ToString("hh:mm")</span></td>


																			<td class="text-center">20$</td>
																			<td class="text-end">
																				<div class="table-action">
																					<a href="javascript:void(0);" class="btn btn-sm bg-info-light">
																						<i class="far fa-eye"></i> View
																					</a>

																					<a href="javascript:void(0);" class="btn btn-sm bg-success-light">
																						<i class="fas fa-check"></i> Accept
																					</a>
																					<a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
																						<i class="fas fa-times"></i> Cancel
																					</a>
																				</div>
																			</td>
																		</tr>
																	
																	}
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
											<!-- /Today Appointment Tab -->

										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>

			<!-- /Page Content -->
			<!-- Footer -->
			@Html.Partial("/Views/Doctor/Footer.cshtml")
		</div>
	</div>
	<!-- /Main Wrapper -->
	<!-- jQuery -->
	<script src="~/assets/js/jquery-3.6.4.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="~/assets/js/bootstrap.bundle.min.js"></script>

	<!-- Sticky Sidebar JS -->
	<script src="~/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
	<script src="~/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

	<!-- Circle Progress JS -->
	<script src="~/assets/js/circle-progress.min.js"></script>

	<!-- Custom JS -->
	<script src="~/assets/js/script.js"></script>

</body>
</html>