@model MedAppProject.Models.Patient
@{
	Layout = null;
}
<!DOCTYPE html> 
<html lang="en">
	<head>

		<meta charset="utf-8">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		
		
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

		<!-- Feathericon CSS -->
    	<link rel="stylesheet" href="~/assets/css/feather.css">

		<!-- Apex Css -->
		<link rel="stylesheet" href="~/assets/plugins/apex/apexcharts.css">
		
		<!-- Main CSS -->
	<link rel="stylesheet" href="~/assets/css/custom.css">
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
		@Html.Partial("/Views/Patient/NavBar.cshtml")
			<!-- /Header -->

			<!-- Breadcrumb -->
			<div class="breadcrumb-bar-two">
				<div class="container">
					<div class="row align-items-center inner-banner">
						<div class="col-md-12 col-12 text-center">
							<h2 class="breadcrumb-title">Dashboard</h2>
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a asp-action="Index" asp-controller="Patient">Home</a></li>
									<li class="breadcrumb-item" aria-current="page">Profile</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container">

					<div class="row">
						
						<!-- Profile Sidebar -->
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img">
											<img src="~/Images/patient.png" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3>@Model.FirstName @Model.LastName</h3>
											<div class="patient-details">
												<h5><i class="fas fa-birthday-cake"></i> 24 Jul 1983, 38 years</h5>
												<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> @Model.PatientLocation</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li class="active">
												<a asp-action="PatientProfile" asp-controller="Patient">
													<i class="fas fa-columns"></i>
													<span>Profile</span>
												</a>
											</li>
											<li>
												<a href="favourites.html">
													<i class="fas fa-bookmark"></i>
													<span>Favourites</span>
												</a>
											</li> 
											<li>
												<a href="dependent.html">
													<i class="fas fa-users"></i>
													<span>Dependent</span>
												</a>
											</li> 
											
											<li>
												<a href="patient-accounts.html">
													<i class="fas fa-file-invoice-dollar"></i>
													<span>Accounts</span>
												</a>
											</li>
											<li>
												<a href="orders-list.html">
													<i class="fas fa-list-alt"></i>
													<span>Orders</span>
                                                    <small class="unread-msg">7</small>
												</a>
											</li>
											
											<li>
												<a href="medical-details.html">
													<i class="fas fa-file-medical-alt"></i>
													<span>Medical Details</span>
												</a>
											</li>
											<li>
												<a asp-action="PatientProfileSettings" asp-controller="Patien">
													<i class="fas fa-user-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											<li>
												<a href="change-password.html">
													<i class="fas fa-lock"></i>
													<span>Change Password</span>
												</a>
											</li>
											<li>
												<a href="index.html">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>

							</div>
						</div>
						<!-- / Profile Sidebar -->
						
						<div class="col-md-7 col-lg-8 col-xl-9">

							

							

							<div class="card">
								<div class="card-body pt-0">
								
									<!-- Tab Menu -->
									<nav class="user-tabs mb-4">
										<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
											<li class="nav-item">
												<a class="nav-link active" href="#pat_appointments" data-bs-toggle="tab">Appointments</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#pat_prescriptions" data-bs-toggle="tab">Prescriptions</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#pat_medical_records" data-bs-toggle="tab"><span class="med-records">Medical Records</span></a>
											</li>
										<li class="nav-item">
											<a class="nav-link" href="#pat_tests" data-bs-toggle="tab"><span class="med-records">Lab Tests</span></a>
										</li>
											<li class="nav-item">
												<a class="nav-link" href="#pat_billing" data-bs-toggle="tab">Billing</a>
											</li>
										</ul>
									</nav>
									<!-- /Tab Menu -->
									
									<!-- Tab Content -->
									<div class="tab-content pt-0">
										
										<!-- Appointment Tab -->
										<div id="pat_appointments" class="tab-pane fade show active">
											<div class="card card-table mb-0">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-hover table-center mb-0">
															<thead>
																<tr>
																	<th>Doctor</th>
																	
																	<th>Booking Date</th>
																	<th>Amount</th>
																	
																	<th>Status</th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																@foreach(var p in @Model.DoctorAppointments)
																{

																
																<tr>
																	<td>
																		<h2 class="table-avatar">
																			<a asp-action="DoctorProfile" asp-controller="Patinet" class="avatar avatar-sm me-2">
																				<img class="avatar-img rounded-circle" src="~/Images/drImage.png" alt="User Image">
																			</a>
																			<a asp-action="DoctorProfile" asp-controller="Patient">Dr. @p.Doctor.FirstName @p.Doctor.LastName <span>@p.Doctor.DoctorSpecialization.Name.ToString()</span></a>
																		</h2>
																	</td>
																	<td>@p.bookTime.ToString("d MMMM yyyy") <span class="d-block text-info">@p.bookTime.ToString("hh:mm")</span></td>
																	
																	<td>$@p.Doctor.Fees.ToString()</td>
																	
																	<td><span class="badge rounded-pill bg-success-light">Confirm</span></td>
																	<td class="text-end">
																		<div class="table-action">
																			<a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
																				<i class="fas fa-print"></i> Print
																			</a>
																			<a href="javascript:void(0);" class="btn btn-sm bg-info-light">
																				<i class="far fa-eye"></i> View
																			</a>
																		</div>
																	</td>
																</tr>
															}
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
										<!-- /Appointment Tab -->
										
										<!-- Prescription Tab -->
										<div class="tab-pane fade" id="pat_prescriptions">
											<div class="card card-table mb-0">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-hover table-center mb-0">
															<thead>
																<tr>
																	<th>Date </th>
																	<th>Name</th>									
																	<th>Created by </th>
																	<th></th>
																</tr>     
															</thead>
															<tbody>
																@foreach(var x in @Model.Prescription)
															{
																
															
															<tr>
																	<td>14 Nov 2019</td>
																	<td>@x.MedName</td>
																	<td>
																		<h2 class="table-avatar">
																		<a asp-action="DoctorProfile" asp-controller="Patient" class="avatar avatar-sm me-2">
																				<img class="avatar-img rounded-circle" src="~/Images/drImage.png" alt="User Image">
																			</a>
																		<a asp-action="DoctorProfile" asp-controller="Patient">Dr. @x.Doctor.FirstName @x.Doctor.LastName <span>@x.Doctor.DoctorSpecialization.Name.ToString()</span></a>
																		</h2>
																	</td>
																	<td class="text-end">
																		<div class="table-action">
																			<a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
																				<i class="fas fa-print"></i> Print
																			</a>
																			<a href="javascript:void(0);" class="btn btn-sm bg-info-light">
																				<i class="far fa-eye"></i> View
																			</a>
																		</div>
																	</td>
																</tr>
															}	
															</tbody>	
														</table>
													</div>
												</div>
											</div>
										</div>
										<!-- /Prescription Tab -->
											
										<!-- Medical Records Tab -->
										<div id="pat_medical_records" class="tab-pane fade">
											<div class="card card-table mb-0">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-hover table-center mb-0">
															<thead>
																<tr>
																	<th>ID</th>
																	<th>Date </th>
																	<th>Description</th>
																	<th>Attachment</th>
																	<th>Created</th>
																	<th></th>
																</tr>     
															</thead>
															<tbody>
																@foreach(var x in @Model.MedicalRecords)
															{
																
															
															<tr>
																	<td><a href="javascript:void(0);">#MR-@x.Id</a></td>
																	<td>@x.Date.ToString("d MMMM yyyy")</td>
																	<td>@x.Descreption</td>
																	<td><a href="#">dental-test.pdf</a></td>
																	<td>
																		<h2 class="table-avatar">
																			<a asp-action="DoctorProfile" asp-controller="Patient" class="avatar avatar-sm me-2">
																				<img class="avatar-img rounded-circle" src="~/Images/drImage.png" alt="User Image">
																			</a>
																		<a asp-action="DoctorProfile" asp-controller="Patient">Dr. @x.Doctor.FirstName @x.Doctor.LastName <span>@x.Doctor.DoctorSpecialization.Name.ToString()</span></a>
																		</h2>
																	</td>
																	<td class="text-end">
																		<div class="table-action">
																			<a href="javascript:void(0);" class="btn btn-sm bg-info-light">
																				<i class="far fa-eye"></i> View
																			</a>
																			<a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
																				<i class="fas fa-print"></i> Print
																			</a>
																		</div>
																	</td>
																</tr>
															}
															</tbody>  	
														</table>
													</div>
												</div>
											</div>
										</div>
										<!-- /Medical Records Tab -->
										<!-- Lab Tests Tab -->
										<div id="pat_tests" class="tab-pane fade">
											<div class="card card-table mb-0">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-hover table-center mb-0">
															<thead>
																<tr>
																	<th>ID</th>
																	<th>Date </th>
																	<th>Description</th>
																	<th>Attachment</th>
																	<th>Created</th>
																	<th></th>
																</tr>     
															</thead>
															<tbody>
																@foreach(var x in @Model.Tests)
															{
																
															
															<tr>
																	<td><a href="javascript:void(0);">#MR-@x.Id</a></td>
																	<td>14 Nov 2019</td>
																	<td>Dental Filling</td>
																	<td><a href="#">dental-test.pdf</a></td>
																	<td>
																		<h2 class="table-avatar">
																		<a asp-action="DoctorProfile" asp-controller="Patient" class="avatar avatar-sm me-2">
																				<img class="avatar-img rounded-circle" src="~/Images/drImage.png" alt="User Image">
																			</a>
																		<a asp-action="DoctorProfile" asp-controller="Patient"> Lab Name <span>Dental</span></a>
																		</h2>
																	</td>
																	<td class="text-end">
																		<div class="table-action">
																			<a href="javascript:void(0);" class="btn btn-sm bg-info-light">
																				<i class="far fa-eye"></i> View
																			</a>
																			<a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
																				<i class="fas fa-print"></i> Print
																			</a>
																		</div>
																	</td>
																</tr>
															}
															</tbody>  	
														</table>
													</div>
												</div>
											</div>
										</div>
									   <!-- Lab Tests Tab -->
										<!-- Billing Tab -->
										<div id="pat_billing" class="tab-pane fade">
											<div class="card card-table mb-0">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-hover table-center mb-0">
															<thead>
																<tr>
																	<th>Invoice No</th>
																	<th>Doctor</th>
																	<th>Amount</th>
																	<th>Paid On</th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																@foreach(var x in @Model.Bills)
															{
																
															
															<tr>
																	<td>
																		<a href="invoice-view.html">#INV-@x.Id</a>
																	</td>
																	<td>
																		<h2 class="table-avatar">
																		<a asp-action="DoctorProfile" asp-controller="Patient" class="avatar avatar-sm me-2">
																				<img class="avatar-img rounded-circle" src="~/Images/drImage.png" alt="User Image">
																			</a>
																		<a asp-action="DoctorProfile" asp-controller="Patient">@x.Doctor.FirstName @x.Doctor.LastName <span>@x.Doctor.DoctorSpecialization.Name.ToString()</span></a>
																		</h2>
																	</td>
																	<td>$@x.Amount</td>
																	<td>@x.PaidOn.ToString("d MMMM yyyy")</td>
																	<td class="text-end">
																		<div class="table-action">
																			<a href="invoice-view.html" class="btn btn-sm bg-info-light">
																				<i class="far fa-eye"></i> View
																			</a>
																			<a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
																				<i class="fas fa-print"></i> Print
																			</a>
																		</div>
																	</td>
																</tr>
															}	
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
										<!-- /Billing Tab -->
										  
									</div>
									<!-- Tab Content -->
									
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
   
			<!-- Footer -->
			@Html.Partial("/Views/PAtient/Footer.cshtml")
			<!-- /Footer -->
		   
		</div>
		<!-- /Main Wrapper -->

		
		<!-- /Graph Two-->
	  
		<!-- jQuery -->
		<script src="~/assets/js/jquery-3.6.4.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="~/assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="~/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
        <script src="~/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

        <!-- Apex JS -->
	<script src="~/assets/plugins/apex/apexcharts.min.js"></script>
		
		<!-- Custom JS -->
	<script src="~/assets/js/script.js"></script>
		
	</body>
</html>